/*_layouts/default.html*/

body {
	font-family: 'Reem Kufi', sans-serif;
}

footer {
	display: block;
	background-color: #333;
	padding: 10px;
	font-size: 20px;
	color: white;
}

footer small {
	font-size: 15px;
}

footer > div > a {
	margin: 20px;
}

/*_includes/landing.html*/

header.landing {
	display: table;
	height: 100%;
	min-width: 100%;
	min-height: 100%;
	text-align: center;
	padding: 0;
	margin: 0;
	width: 100%;
	vertical-align: middle;
	background-color: #333;
	box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 1) inset;
	color: white;
}

.landing-button-wrapper {
	margin-top: 10%;
}

.landing-button {
	font-size: 40px;
	background-color: #00E02A;
	text-decoration: none;
	padding: 10px 20px;
	border-bottom: 10px solid #20C40A;
	border-radius: 10px;
	color: white;
	text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
	width: 500px;
}

.landing-button-small {
	font-size: 15px;
	padding: 5px 10px;
	opacity: 0.5;
	animation: landing-pulse 1s ease-in-out 2s infinite;
}

@keyframes landing-pulse {
	0% {
		opacity: 0.5;
		background-color: #00E02A;
		border-bottom: 10px solid #20C40A;
	}
	50% {
		opacity: 0.6;
		background-color: #20C40A;
		border-bottom: 10px solid #00E02A;
	}
	100% {
		opacity: 0.5;
		background-color: #00E02A;
		border-bottom: 10px solid #20C40A;
	}
}

landing-headline {
	text-transform: uppercase;
}

/*index.html*/
.index-huge-right {
	position: relative;
	display: block;
	font-size: 80px;
	font-weight: 100;
	text-align: right;
}
