---
layout: default
---

{% include landing.html %}

<br><br>

<div class="container">

  {% include navbar.html class="navbar-inverse" %}

  <div class="row" id="down">
    <div class="col-md-6">
      <section>
        <h2>Automatic command block generation!</h2>
        <p>
          The commands you write get sent to your Bukkit server and will be generated automaticly! You can write an almost unlimited amount of commands!
        </p>
      </section>
      <hr>
      <section>
        <h2>Use PHP in your commands!</h2>
        <p>
          You can use PHP to generate commands. Use echo to put your command statements together with php!
        </p>
      </section>
      <hr>
      <section>
        <h2>Configurable World and Location!</h2>
        <p>
          Change the target world and the coordinates within your Editor.
        </p>
      </section>
      <hr>
      <section>
        <h2>Secured with Password and SSL!</h2>
        <p>
          Just set a password in the config file of the Bukkit/Spigot Plugin.
          <br>
          If you want, you can download the Secure version of the Bukkit/Spigot Plugin to create SSL connections.
        </p>
      </section>
      <hr>
      <section>
        <h2>Preview integrated into Atom!</h2>
        <p>
          Preview the commands via Notification or modal!
        </p>
      </section>
      <hr>
      <section>
        <h2>Custimizeable Keybindings!</h2>
        <p>
          Easily configure your shortcuts!
        </p>
      </section>
      <hr>
      <section>
        <h2>Only one command generator!</h2>
        <p>
          Generate only one command from Atom!
        </p>
      </section>
      <hr>
      <section>
        <h2>Import your existing commands with McIDE tools!</h2>
        <p>
          Make a selection an post commands into Chat
          or post onto GitHub Gist
          or write into a minecraft book!
        </p>
      </section>
    </div>
    <div class="col-md-6">
      <!--<img class="img-responsive" src="/mcide/images/commands.png" alt="command blocks">-->
      <hr>
      <script src="https://gist.github.com/simonmeusel/f5495e4d97206a0a003c3734081025a7.js"></script>
      <script src="https://gist.github.com/simonmeusel/fc64186df606449d6250434a6f7bf77a.js"></script>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <br>
      <br>
      <br>
      {% include buttons.html %}
    </div>
    <div class="col-md-4">
      <h1>
        It's so easy! Start now!
      </h1>
    </div>
  </div>
</div>
