
<nav class="navbar {{include.class}}">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1{{include.id}}" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{site.baseurl}}/">MCIDE</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1{{include.id}}">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{site.baseurl}}/docs/index.html">Docs</a></li>
        <li><a href="{{site.baseurl}}/generator.html">Config Generator</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">On GitHub <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="https://github.com/simonmeusel/mcide-plugin">Bukkit/Spigot Plugin</a></li>
            <li><a href="https://github.com/simonmeusel/mcide-for-atom">Atom Package</a></li>
            <li><a href="https://github.com/simonmeusel/mcide-tools-plugin">Tools Plugin</a></li>
            <li><a href="https://github.com/simonmeusel/mcide-manager">Manager</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="https://github.com/simonmeusel">Simon Meusel</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
