---
layout: default
---

<div class="container">
  <div class="row">
    <div class="col-md-2">
      <h4>McIDE Plugin</h4>
      <ul>
        <li>
          <a href="{{site.baseurl}}/docs/mcide-plugin/installation.html">
            Installation
          </a>
        </li>
        <li>
          <a href="http://php.net/docs.php">PHP Docs
            <span class="glyphicon glyphicon-new-window" aria-hidden="true">
            </span>
          </a>
        </li>
      </ul>
      <h4>McIDE Tools Plugin</h4>
      <ul>
        <li>
          <a href="{{site.baseurl}}/docs/mcide-tools-plugin/installation.html">
            Installation
          </a>
        </li>
      </ul>
      <h4>McIDE for Atom</h4>
      <ul>
        <li>
          <a href="{{site.baseurl}}/docs/mcide-for-atom/installation.html">
            Installation
          </a>
        </li>
      </ul>
      <h4>McIDE Manager</h4>
      <ul>
        <li>
          <a href="{{site.baseurl}}/docs/mcide-manager/installation.html">
            Installation
          </a>
        </li>
      </ul>
    </div>
    <div class="col-md-10">
      {{content}}
    </div>
  </div>
</div>
